In [6]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.mirror.amaze.com.au/spark/spark-3.0.2/spark-3.0.2-bin-hadoop3.2.tgz
!tar xf spark-3.0.2-bin-hadoop3.2.tgz
!pip install -q findspark

In [7]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.0.2-bin-hadoop3.2"

In [8]:
import findspark
findspark.init()

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext
sc

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [24]:
import pyspark.sql
from pyspark.sql import Row
from pyspark.sql.types import *
import csv

In [27]:
aqi_df = spark.read.csv("/content/drive/MyDrive/Colab Notebooks/CC_Project/Data/*.csv", header=True)
aqi_df.show()

+----------+-----------+----------+-----------+----------+---+--------+------------------+-------------+-------------------------+
|State Name|county Name|State Code|County Code|      Date|AQI|Category|Defining Parameter|Defining Site|Number of Sites Reporting|
+----------+-----------+----------+-----------+----------+---+--------+------------------+-------------+-------------------------+
|   Alabama|    Baldwin|        01|        003|2018-01-02| 32|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-01-05| 34|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-01-08| 15|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-01-11| 19|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-01-14| 25|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-01-17| 23|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-01-20| 46|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-01-23| 14|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-01-26| 42|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-01-29| 15|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-02-01| 21|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-02-04| 27|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-02-07| 23|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-02-10| 21|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-02-13| 20|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-02-16| 24|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-02-19| 21|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-02-22| 31|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-02-25| 15|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2018-02-28| 27|    Good|             PM2.5|  01-003-0010|                        1|
+----------+-----------+----------+-----------+----------+---+--------+------------------+-------------+-------------------------+
only showing top 20 rows

In [28]:
state_df = aqi_df.filter(aqi_df['State Name'] == "Indiana")
state_df.take(10)

[Row(State Name='Indiana', county Name='Allen', State Code='18', County Code='003', Date='2018-01-01', AQI='43', Category='Good', Defining Parameter='PM2.5', Defining Site='18-003-0004', Number of Sites Reporting='2'),
 Row(State Name='Indiana', county Name='Allen', State Code='18', County Code='003', Date='2018-01-02', AQI='54', Category='Moderate', Defining Parameter='PM2.5', Defining Site='18-003-0004', Number of Sites Reporting='2'),
 Row(State Name='Indiana', county Name='Allen', State Code='18', County Code='003', Date='2018-01-03', AQI='53', Category='Moderate', Defining Parameter='PM2.5', Defining Site='18-003-0004', Number of Sites Reporting='2'),
 Row(State Name='Indiana', county Name='Allen', State Code='18', County Code='003', Date='2018-01-04', AQI='33', Category='Good', Defining Parameter='Ozone', Defining Site='18-003-0002', Number of Sites Reporting='2'),
 Row(State Name='Indiana', county Name='Allen', State Code='18', County Code='003', Date='2018-01-05', AQI='56', Category='Moderate', Defining Parameter='PM2.5', Defining Site='18-003-0004', Number of Sites Reporting='2'),
 Row(State Name='Indiana', county Name='Allen', State Code='18', County Code='003', Date='2018-01-06', AQI='62', Category='Moderate', Defining Parameter='PM2.5', Defining Site='18-003-0004', Number of Sites Reporting='2'),
 Row(State Name='Indiana', county Name='Allen', State Code='18', County Code='003', Date='2018-01-07', AQI='39', Category='Good', Defining Parameter='PM2.5', Defining Site='18-003-0004', Number of Sites Reporting='2'),
 Row(State Name='Indiana', county Name='Allen', State Code='18', County Code='003', Date='2018-01-08', AQI='55', Category='Moderate', Defining Parameter='PM2.5', Defining Site='18-003-0004', Number of Sites Reporting='2'),
 Row(State Name='Indiana', county Name='Allen', State Code='18', County Code='003', Date='2018-01-09', AQI='72', Category='Moderate', Defining Parameter='PM2.5', Defining Site='18-003-0004', Number of Sites Reporting='2'),
 Row(State Name='Indiana', county Name='Allen', State Code='18', County Code='003', Date='2018-01-10', AQI='43', Category='Good', Defining Parameter='PM2.5', Defining Site='18-003-0004', Number of Sites Reporting='2')]

In [29]:
indiana_df = state_df.select('State Name', 'State Code', 'county Name', 'County Code', 'Date', 'AQI', 'Category')
indiana_df.take(10)

[Row(State Name='Indiana', State Code='18', county Name='Allen', County Code='003', Date='2018-01-01', AQI='43', Category='Good'),
 Row(State Name='Indiana', State Code='18', county Name='Allen', County Code='003', Date='2018-01-02', AQI='54', Category='Moderate'),
 Row(State Name='Indiana', State Code='18', county Name='Allen', County Code='003', Date='2018-01-03', AQI='53', Category='Moderate'),
 Row(State Name='Indiana', State Code='18', county Name='Allen', County Code='003', Date='2018-01-04', AQI='33', Category='Good'),
 Row(State Name='Indiana', State Code='18', county Name='Allen', County Code='003', Date='2018-01-05', AQI='56', Category='Moderate'),
 Row(State Name='Indiana', State Code='18', county Name='Allen', County Code='003', Date='2018-01-06', AQI='62', Category='Moderate'),
 Row(State Name='Indiana', State Code='18', county Name='Allen', County Code='003', Date='2018-01-07', AQI='39', Category='Good'),
 Row(State Name='Indiana', State Code='18', county Name='Allen', County Code='003', Date='2018-01-08', AQI='55', Category='Moderate'),
 Row(State Name='Indiana', State Code='18', county Name='Allen', County Code='003', Date='2018-01-09', AQI='72', Category='Moderate'),
 Row(State Name='Indiana', State Code='18', county Name='Allen', County Code='003', Date='2018-01-10', AQI='43', Category='Good')]

In [31]:
indiana_df.toPandas().to_csv('/content/drive/MyDrive/Colab Notebooks/CC_Project/CSVs/aqi_dataset.csv', index=False, header=True)