In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.mirror.amaze.com.au/spark/spark-3.0.2/spark-3.0.2-bin-hadoop3.2.tgz
!tar xf spark-3.0.2-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.0.2-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext
sc

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pyspark.sql
from pyspark.sql import Row
from pyspark.sql.types import *
import csv

In [ ]:
aqi_df = spark.read.csv("/content/drive/MyDrive/cloud_computing/Project/*.csv", header=True)
aqi_df.show()

+----------+-----------+----------+-----------+----------+---+--------+------------------+-------------+-------------------------+
|State Name|county Name|State Code|County Code|      Date|AQI|Category|Defining Parameter|Defining Site|Number of Sites Reporting|
+----------+-----------+----------+-----------+----------+---+--------+------------------+-------------+-------------------------+
|   Alabama|    Baldwin|        01|        003|2007-01-03| 55|Moderate|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-01-06| 23|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-01-09| 13|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-01-12| 25|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-01-15| 17|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-01-18| 52|Moderate|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-01-21| 30|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-01-24| 39|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-01-27| 48|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-01-30| 35|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-02-02| 31|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-02-05| 42|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-02-08| 56|Moderate|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-02-11| 46|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-02-14| 44|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-02-17| 46|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-02-20| 18|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-02-23| 31|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-02-26| 35|    Good|             PM2.5|  01-003-0010|                        1|
|   Alabama|    Baldwin|        01|        003|2007-03-01| 37|    Good|             Ozone|  01-003-0010|                        1|
+----------+-----------+----------+-----------+----------+---+--------+------------------+-------------+-------------------------+
only showing top 20 rows

In [ ]:
state_df = aqi_df.filter(aqi_df['State Name'] == "California")
state_df.take(10)

[Row(State Name='California', county Name='Alameda', State Code='06', County Code='001', Date='2007-01-01', AQI='72', Category='Moderate', Defining Parameter='PM2.5', Defining Site='06-001-0007', Number of Sites Reporting='2'),
 Row(State Name='California', county Name='Alameda', State Code='06', County Code='001', Date='2007-01-02', AQI='69', Category='Moderate', Defining Parameter='PM2.5', Defining Site='06-001-0007', Number of Sites Reporting='2'),
 Row(State Name='California', county Name='Alameda', State Code='06', County Code='001', Date='2007-01-03', AQI='60', Category='Moderate', Defining Parameter='PM2.5', Defining Site='06-001-0007', Number of Sites Reporting='2'),
 Row(State Name='California', county Name='Alameda', State Code='06', County Code='001', Date='2007-01-04', AQI='30', Category='Good', Defining Parameter='Ozone', Defining Site='06-001-0007', Number of Sites Reporting='2'),
 Row(State Name='California', county Name='Alameda', State Code='06', County Code='001', Date='2007-01-05', AQI='32', Category='Good', Defining Parameter='NO2', Defining Site='06-001-0007', Number of Sites Reporting='2'),
 Row(State Name='California', county Name='Alameda', State Code='06', County Code='001', Date='2007-01-06', AQI='55', Category='Moderate', Defining Parameter='PM2.5', Defining Site='06-001-0007', Number of Sites Reporting='2'),
 Row(State Name='California', county Name='Alameda', State Code='06', County Code='001', Date='2007-01-07', AQI='43', Category='Good', Defining Parameter='PM2.5', Defining Site='06-001-0007', Number of Sites Reporting='2'),
 Row(State Name='California', county Name='Alameda', State Code='06', County Code='001', Date='2007-01-08', AQI='40', Category='Good', Defining Parameter='PM2.5', Defining Site='06-001-0007', Number of Sites Reporting='2'),
 Row(State Name='California', county Name='Alameda', State Code='06', County Code='001', Date='2007-01-09', AQI='61', Category='Moderate', Defining Parameter='PM2.5', Defining Site='06-001-0007', Number of Sites Reporting='2'),
 Row(State Name='California', county Name='Alameda', State Code='06', County Code='001', Date='2007-01-10', AQI='40', Category='Good', Defining Parameter='NO2', Defining Site='06-001-1001', Number of Sites Reporting='2')]

In [ ]:
california_df = state_df.select('State Name', 'State Code', 'county Name', 'County Code', 'Date', 'AQI', 'Category')
california_df.take(10)

[Row(State Name='California', State Code='06', county Name='Alameda', County Code='001', Date='2007-01-01', AQI='72', Category='Moderate'),
 Row(State Name='California', State Code='06', county Name='Alameda', County Code='001', Date='2007-01-02', AQI='69', Category='Moderate'),
 Row(State Name='California', State Code='06', county Name='Alameda', County Code='001', Date='2007-01-03', AQI='60', Category='Moderate'),
 Row(State Name='California', State Code='06', county Name='Alameda', County Code='001', Date='2007-01-04', AQI='30', Category='Good'),
 Row(State Name='California', State Code='06', county Name='Alameda', County Code='001', Date='2007-01-05', AQI='32', Category='Good'),
 Row(State Name='California', State Code='06', county Name='Alameda', County Code='001', Date='2007-01-06', AQI='55', Category='Moderate'),
 Row(State Name='California', State Code='06', county Name='Alameda', County Code='001', Date='2007-01-07', AQI='43', Category='Good'),
 Row(State Name='California', State Code='06', county Name='Alameda', County Code='001', Date='2007-01-08', AQI='40', Category='Good'),
 Row(State Name='California', State Code='06', county Name='Alameda', County Code='001', Date='2007-01-09', AQI='61', Category='Moderate'),
 Row(State Name='California', State Code='06', county Name='Alameda', County Code='001', Date='2007-01-10', AQI='40', Category='Good')]

In [ ]:
california_df.toPandas().to_csv('/content/drive/MyDrive/cloud_computing/Project/aqi_dataset.csv', index=False, header=True)